.dz-asdf {
  border: 1px solid #979797;
}

.dropzone {
  border: 1px dashed #979797;
  @apply text-center py-24 mt-12;
  &--compact {
    @apply py-16 mt-1 mb-8;
  }
}

.dropzone .dz-preview .dz-progress .dz-upload {
  @apply bg-peach;
}

.dz-filename {
  display: none;
}

.dropzone .dz-preview .dz-progress {
  border-color: config('colors.charcoal');
}
.dropzone__text-link {
  @apply text-peach border-b-2 border-peach;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    @apply text-charcoal;
  }
}
