---
- name: Fetch secrets from AWS Secrets Manager
  set_fact:
    ta_db_userpwd: "{{ lookup('amazon.aws.aws_secret', ta_db_user_pwd_secret_name, bypath=true,
                       region=ta_db_secrets.aws_region, aws_profile=ta_db_secrets.aws_profile)[ta_db_user_pwd_secret_name] }}"
    ta_dashboard_db_cluster: "{{ lookup('amazon.aws.aws_secret', ta_dashboard_db_cluster_secret_name, bypath=true,
                                 region=ta_db_secrets.aws_region, aws_profile=ta_db_secrets.aws_profile)[ta_dashboard_db_cluster_secret_name] }}"


# Extract values from the fetched secret for later use.
- name: Set facts from AWS secrets
  set_fact:
    pgsql_cltr_host: "{{ ta_dashboard_db_cluster['cluster_endpoint'] }}"
    pgsql_cltr_port: "{{ ta_dashboard_db_cluster['cluster_port'] }}"
