# DO NOT INCLUDE "0x" prefix in TRUST_ANCHOR_PK
# BEGIN AUTOMATION MANAGED BLOCK TA ACCOUNT INFO
TRUST_ANCHOR_PK={{ trust_anchor_pk | mandatory }}
TRUST_ANCHOR_ACCOUNT={{ trust_anchor_account | mandatory }}
TRUST_ANCHOR_PREFNAME={{ veriscope_common_name }}
# END AUTOMATION MANAGED BLOCK TA ACCOUNT INFO

WEBHOOK_CLIENT_SECRET=

#RPC Replace HTTP and WS below with the following
#HTTP="https://rpc.testnet.shyft.network/"
#WS="wss://rpc.testnet.shyft.network/"

HTTP="http://localhost:8545"
WS="ws://localhost:8545"
WEBHOOK="http://localhost:8000/webhook"
HTTP_API_PORT=8080
TEMPLATE_HELPER_PORT=8090

CONTRACTS=/opt/veriscope/veriscope_ta_node/artifacts/

#fed testnet
TRUST_ANCHOR_MANAGER_CONTRACT_ADDRESS="0xF3f03Bce8450EF7E16649d32F0e993998E0EcD69"
TRUST_ANCHOR_STORAGE_CONTRACT_ADDRESS="0x1277913ad6F1F3fDE1598563DCFDB42d3b604905"
TRUST_ANCHOR_EXTRA_DATA_GENERIC_CONTRACT_ADDRESS="0xd21A43a2561A1492bc1686DEc4020089CAD35cef"
TRUST_ANCHOR_EXTRA_DATA_UNIQUE_CONTRACT_ADDRESS="0xe2e9B6d5618EA1cFe46DE838784464EACb15bD7e"

#redis
REDIS_URI=redis://127.0.0.1:6379
LOG_LEVEL=info

SIGN_MESSAGE="VERISCOPE"
