# DO NOT INCLUDE "0x" prefix in TRUST_ANCHOR_PK
# BEGIN AUTOMATION MANAGED BLOCK TA ACCOUNT INFO
TRUST_ANCHOR_PK={{ trust_anchor_private_key | mandatory }}
TRUST_ANCHOR_ACCOUNT={{ trust_anchor_account_address | mandatory }}
TRUST_ANCHOR_PREFNAME={{ trust_anchor_preferred_name | mandatory }}
# END AUTOMATION MANAGED BLOCK TA ACCOUNT INFO

WEBHOOK_CLIENT_SECRET=

HTTP="http://{{ nm_host }}:8545"
WS="ws://{{ nm_host }}:8545"
WEBHOOK="http://localhost:8000/webhook"
HTTP_API_PORT=8080
TEMPLATE_HELPER_PORT=8090

CONTRACTS=/opt/veriscope/veriscope_ta_node/artifacts/

#veriscope testnet
TRUST_ANCHOR_MANAGER_CONTRACT_ADDRESS="0x43E56edA913216666DA92Bc27a874D967F3Cb206"
TRUST_ANCHOR_STORAGE_CONTRACT_ADDRESS="0xe515c95221B8e62c2D5b9548F8a7C5e17307f766"
TRUST_ANCHOR_EXTRA_DATA_GENERIC_CONTRACT_ADDRESS="0x7cC356A02119623A42E26d138fac925b6F5A444c"
TRUST_ANCHOR_EXTRA_DATA_UNIQUE_CONTRACT_ADDRESS="0xC6a080668A62F35687EDBb69B102B3a3766b51a8"

#redis
REDIS_URI=redis://127.0.0.1:6379
LOG_LEVEL=info

SIGN_MESSAGE="VERISCOPE"
