[Unit]
Description=Trust Anchor Node Template Helper 
After=network.target

[Service]
User=shyft
Group=www-data
UMask=0002
WorkingDirectory=/opt/veriscope/veriscope_ta_node/
ExecStart=/usr/bin/node shyft-template-helper.js
Restart=on-failure
LimitNOFILE=1000000

[Install]
WantedBy=default.target

