[Unit]
Description=Trust Anchor Dashboard 
After=network.target

[Service]
User=shyft
Group=www-data
UMask=0002
WorkingDirectory=/opt/veriscope/veriscope_ta_dashboard/
ExecStart=/usr/bin/php artisan serve
Restart=on-failure
LimitNOFILE=1000000

[Install]
WantedBy=default.target


