/*
Radial checkboxes

Radial checkbox inputs used for single selection.

Markup:
<form>
  <div class="form__radio">
    <input type="radio" id="radio-1" name="radios" />
    <label for="radio-1">
      <span></span>
      Choose me!
    </label>
  </div>
  <div class="form__radio">
    <input type="radio" id="radio-2" checked name="radios" />
    <label for="radio-2">
      <span></span>
      No, choose ME!
    </label>
  </div>
  <div class="form__radio">
    <input type="radio" id="radio-3" name="radios" disabled />
    <label for="radio-3">
      <span></span>
      Do not choose me.
    </label>
  </div>
</form>

Styleguide _Forms.Checkbox A
*/

.form {
  &__radio {
    input[type=radio] {
      position: fixed;
      left: -9999px;
    }
    input[type=radio] + label {
      position: relative;
	    height: 28px;
      width: 371px;
      color: #373241;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 28px;
      margin: 8px 0;
      @apply block font-headline;
      &:hover {
          span {
            border-color: config('colors.peach');
            @apply bg-peach;
          }
      }
      span {
          display: inline-block;
          width: 20px;
          height: 20px;
          top: 4px;
          margin-right: 5px;
          position: relative;
          @apply bg-charcoal rounded-full;
          content: '';
          border: 2px solid config('colors.charcoal');
          box-shadow: inset 0 0 0 10px config('colors.white');
          transition: all 0.3s ease-in-out;
      }
    }
    input[type=radio]:checked + label span {
      box-shadow: inset 0 0 0 2px config('colors.white');
    }
    input[type=radio]:disabled + label {
      pointer-events: none;
      @apply text-slate;
      span {
        border-color: config('colors.slate');
        @apply bg-transparent;
        box-shadow: none;
      }
    }
  }
}
